* {
  margin: 0px;
}

body {
  background-color: rgb(245, 245, 245);
}

.appContainer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.leftSide {
  /* leftside should take 90% of the space */
  flex: 0.9;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infoboxContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .appContainer {
    flex-direction: column;
  }
}
